@use './../mixins' as *;

/* Кнопки */
.btn {
  --btn-width: fit-content;
  --btn-height: 5.4rem;
  --btn-padding-x: 3.6rem;
  --btn-background: var(--white);
  --btn-color: var(--black);
  --btn-transition: all 0.3s ease;
  --btn-border-radius: 0.9rem;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  flex-shrink: 0;
  width: var(--btn-width);
  min-width: var(--btn-height);
  height: var(--btn-height);
  padding: 0 var(--btn-padding-x);
  border-radius: var(--btn-border-radius);
  background: var(--btn-background);
  transition: var(--btn-transition);
  overflow: hidden;

  font-family: var(--font-family);
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 130%;
  white-space: nowrap;
  pointer-events: all;
  cursor: pointer;
  color: var(--btn-color);

  position: relative;

  i {
    --font-size: 2.4rem;
  }

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  &__text {
    position: relative;
    z-index: 3;
  }

  &--purple {
    --btn-background: var(--light-purple);
    --btn-color: var(--cream);
    --btn-border-radius: 0.8rem;

    box-shadow: 0px 37px 63.8px #281930;

    &:hover {

      @include dosm {
        color: var(--dark-purple-3);

        &::before {
          opacity: 1;
        }
      }
    }

    &::before {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      background: linear-gradient(214.89deg, #F2D1AB -44.01%, #BB8747 30.73%, #F0CFA8 89.58%);
      box-shadow: 0px 37px 63.8px #281930;
      transform: matrix(-1, 0, 0, 1, 0, 0);
      transition: opacity 0.3s ease;
      opacity: 0.5;

      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;

      @include dosm {
        opacity: 0;
      }
    }
  }

  &--border {
    --btn-background: transparent;
    --btn-color: var(--cream);
    --btn-border-radius: 0.8rem;

    &.gradient-border::before {
      transition: opacity 0.3s ease;

      @include sm {
        background: linear-gradient(180deg,
            rgba(242, 209, 171, 0.15) -17.71%,
            rgba(187, 135, 71, 0.2) 36.29%,
            rgba(240, 207, 168, 0.15) 78.81%) border-box;
      }
    }

    &:hover {
      --btn-background: var(--light-purple);

      box-shadow: 0px 37px 63.8px #281930;

      &.gradient-border::before {
        opacity: 0;
      }
    }
  }

  &--pulse {
    z-index: 2;

    @include dosm {

      &::before,
      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: 50%;
        z-index: 1;
        opacity: 1;
        transition: all 0.3s ease;

        -webkit-animation: pulse-wave 2s infinite cubic-bezier(0.4, 0, 0.6, 1);
        animation: pulse-wave 2s infinite cubic-bezier(0.4, 0, 0.6, 1);

        .social.active & {
          opacity: 0;
        }
      }

      &::after {
        -webkit-animation-delay: 1s;
        animation-delay: 1s;
      }
    }
  }

  &--icon {
    --btn-width: 8rem;
    --btn-height: 8rem;
    --btn-padding-x: 0;
    --btn-border-radius: 50%;
    --btn-background: transparent;
    --btn-color: var(--cream-2);

    border: 0.05rem solid var(--cream-2-50);

    .header__control-item:hover &,
    &:hover {

      i,
      img {

        @include dosm {
          transform: scale(1.2);
        }
      }
    }

    i {
      --font-size: var(--btn-height);
    }

    img {
      display: block;
      width: var(--btn-height);
      height: var(--btn-height);
      transition: transform 0.3s ease;
    }

    svg {
      width: 4rem;
      height: 4rem;
    }
  }
}

@-webkit-keyframes pulse-wave {
  0% {
    box-shadow: 0 0 0 0.1rem rgba(255, 91, 91, 1);
  }

  33% {
    box-shadow: 0 0 0 0.4rem rgba(255, 91, 91, 0.5);
  }

  66% {
    box-shadow: 0 0 0 0.8rem rgba(255, 91, 91, 0.3);
  }

  100% {
    box-shadow: 0 0 0 0.8rem rgba(255, 91, 91, 0);
  }
}

@keyframes pulse-wave {
  0% {
    box-shadow: 0 0 0 0.1rem rgba(255, 91, 91, 1);
  }

  33% {
    box-shadow: 0 0 0 0.4rem rgba(255, 91, 91, 0.5);
  }

  66% {
    box-shadow: 0 0 0 0.8rem rgba(255, 91, 91, 0.3);
  }

  100% {
    box-shadow: 0 0 0 0.8rem rgba(255, 91, 91, 0);
  }
}