@use './../mixins' as *;

.link {
  display: grid;
  grid-template-rows: 0.95fr auto 1fr;
  gap: 0.5rem;
  padding: 0 0 0 2.4rem;
  height: fit-content;
  min-height: 5.6rem;

  position: relative;

  &:hover {

    @include dosm {

      &::before {
        border-color: var(--link-border-color-2);
      }
    }
  }

  &--cream {
    --link-border-color-1: var(--cream-2-50);
    --link-border-color-2: var(--cream-2);
  }

  &--purple {
    --link-border-color-1: var(--purple-50);
    --link-border-color-2: var(--purple);
  }

  &::before {
    content: "";
    display: block;
    width: 5.6rem;
    height: 5.6rem;
    border-radius: 50%;
    border: 0.05rem solid var(--link-border-color-1);
    transition: border-color 0.3s ease;

    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;
    transform: translateY(-50%);
  }

  &::after {
    content: "";
    display: block;
    width: 4.2rem;
    height: 4.2rem;
    border-radius: 50%;
    border: 0.1rem solid var(--link-border-color-2);

    position: absolute;
    top: 50%;
    left: 0.7rem;
    z-index: 1;
    transform: translateY(-50%);
  }

  &-text {
    grid-row: 2/3;

    position: relative;
    z-index: 2;
  }

  &-suptitle {
    grid-row: 3/4;
    margin-left: auto;

    font-weight: 100;
    font-size: 1.2rem;
    line-height: 125%;
    color: var(--cream);
    text-transform: none;
  }
}