@use './../mixins' as *;

.magnetic {
  width: 100%;
  height: 100%;

  &__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 0.05rem solid var(--gold-50);
    border-radius: 50%;
    transition: border-color 0.5s ease;

    position: absolute;
    top: 0;
    left: 0;

    &::before {
      content: "";
      display: block;
      width: calc(100% - 2rem);
      height: calc(100% - 2rem);
      border: 0.05rem solid var(--gold-50);
      border-radius: 50%;
      transition: border-color 0.5s ease, background-color 0.3s ease;

      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 1;
      transform: translate(-50%, -50%);
    }
  }

  &__text {
    transition: transform 0.25s linear, -webkit-transform 0.25s linear;
    will-change: transform;
    text-align: center;

    z-index: 2;
  }

  &__hit {
    width: 130%;
    height: 130%;
    border-radius: 50%;

    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);
  }

  &__inner,
  &__text {
    will-change: transform;
    transform: translateZ(0);
  }
}