@use './../mixins' as *;

.hero {
  height: 100rem;
  box-shadow: 0px 37px 63.8px #281930;

  position: relative;

  @include sm {
    height: 63.6rem;
  }

  &__bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .contaoner {
    z-index: 2;
  }
}