@use './../mixins' as *;

.contacts {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  @include dosm {
    gap: 5rem;
  }

  &__tel {

    a {
      font-family: var(--second-family);
      font-weight: 400;
      font-size: 4.4rem;
      line-height: 120%;
      text-transform: uppercase;

      background: var(--text-gold-gradient);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;

      @include dosm {
        font-size: 6.4rem;
      }
    }
  }

  &__wrap {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    @include dosm {
      gap: 3rem;
    }
  }

  &__suptitle {
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 125%;
    text-transform: uppercase;
    color: var(--cream-50);

    @include dosm {
      font-size: 2rem;
    }
  }

  &__social {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;

    .burger-menu & {

      .btn--icon {
        --btn-width: 6rem;
        --btn-height: 6rem;
      }
    }
  }
}