@use './../mixins' as *;

.header {
  width: 100%;
  height: auto;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

  .burger-menu--open & {
    background-color: var(--dark-purple);
  }

  .header-fixed & {
    background-color: var(--dark-purple);

    box-shadow: 0px 37px 63.8px rgba(51, 32, 61, 0.68);
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 2rem;
    padding: 1.1rem 0 1.2rem;
    transition: padding 0.3s ease;

    @include dosm {
      padding: 7rem 0 2rem;
    }

    .burger-menu--open & {
      padding: 2.1rem 0 2.3rem;
    }

    .header-fixed & {

      @include dosm {
        padding: 1.1rem 0 1.2rem 0;
      }
    }
  }

  &__logo {

    @include dosm {
      width: 19.8rem;
    }

    .logo {

      @include dosm {

        margin-top: -3.8rem;

        .header-fixed & {
          height: 5.7rem;
          margin-top: 0;
        }
      }

      .burger-menu--open & {
        max-width: 11.9rem;
        height: 6.1rem;
        margin-top: 0;
      }
    }
  }

  &__nav {
    display: none;

    @include dosm {
      display: block;
    }
  }

  &__control {
    display: none;

    @include dosm {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      gap: 3rem;
    }

    &-link {
      font-weight: 300;
      font-size: 1.6rem;
      line-height: 125%;
      text-transform: uppercase;
      color: var(--cream);
    }
  }
}