// Вариативный шрифт LTRemark
@font-face {
  font-family: 'LTRemark';
  src: url('../fonts-build/LTRemark-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}